body {
  background-color: #f2f2f2; 
}

.papa {
  display: flex;
  justify-content: space-between;
}

#vhs {
  vertical-align: top;
  text-align: left;
}

#clock {
  vertical-align: top;
  text-align: right;
  margin-top: -19px;
}

h1, 
h2 {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #3290A6;
  font-family: 'Archivo', sans-serif;
}

a:hover {
  color: #99B8BF;
  font-family: 'Archivo', sans-serif;
}

.bigDiv {
  align-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
}

.answerBtn {
  font-size: 3px;
}

.btn {
  outline: none;
  box-shadow: none;
  background-color: #3e0177;
  color: white;
  border-radius: 4px;
}

.btn:hover {
  background-color:#a166d8;
}

#answerCheck {
  font-size: 12px;
}

#finalScore {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

span {
  font-family: 'Archivo', sans-serif;
}

p {
  font-family: 'Archivo', sans-serif;
}

#questionTitle {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

#answerCheck {
  font-style: italic;
  color: #4D5159;
}